Options +FollowSymLinks
IndexIgnore */*

<IfModule mod_rewrite.c>
  RewriteEngine on

  #RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^.*$ /projects/osrs-market/public_html/index.php
</IfModule>

ErrorDocument 500 "<h2>Application error</h2>Yii application failed to start properly"