body {
    left: 0;
    top: 0;
    width: 100%;
}

a:active {
    color: #000;
}
a:hover {
    color: #000;
}

.logo {
    text-align: center;
    padding: 1px;
}

/* Custom Font Families {FONT} */
.font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.font-opensans {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

/* Bootstrap Addons {BS} */
.text-small {
    font-size: 0.5em;
}
.text-medium {
    font-size: 1.8em;
}
.text-large {
    font-size: 3em;
}
.text-extra-large {
    font-size: 5em;
}
.carousel-caption .carousel-text-free {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.text-dark {
    color: #363635;
}
.text-very-dark {
    color: #111;
}
.text-light {
    color: #ececec;
}
.text-very-light {
    color: #c2c2c2;
}
.bg-dark {
    background: #363635;
}
.bg-light {
    background: #ececec;
}
.bg-light-green {
    background: #e7f0e6;
}
.bg-light-red {
    background: #f0e6e6;
}
.line {
    width: 100%;
}
.line.line-thin {
    height: 1px;
}
.line.line-thick {
    height: 3px;
}
.text-shadow-dark {
    text-shadow: 2px 2px #222;
}
.text-shadow-light {
    text-shadow: 2px 2px #888;
}
.text-caption-small {
    font-size: 1.5em;
    padding-top: 8px;
}
.hidden {
    display: none;
}
.separate-row {
    height: 5px;
    width: 100%;
}


/* CSS for circles {CIR} */
.circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 2px;
}
.circle.circle-hover {
    width: 100px;
    height: 100px;
    background: #363635;
    color: #ececec;
}
.circle.circle-hover:hover {
    width: 100px;
    height: 100px;
    background: #50504f;
    color: #ececec;
    cursor: pointer;
}

/* Navigation CSS {NAV} */
.navigation {
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background: #444;
}
.navigation .link {
    padding-top: 30px;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    color: #888;
    cursor: pointer;
    color: #888;
    padding-bottom: 26px;
    text-align: center;
}

.navigation .link:hover {
    border-bottom: 3px solid #888;
    color: #FFF;
}

.navigation .link a {
    color: #888;
}

.navigation .link a:hover {
    color: #999;
    text-decoration: none;
}

/* Some items from osrs */
.item-firecape {
    background-image: url('../images/firecape.png');
    position: absolute;
    height: 288px;
    width: 173px;
    margin: auto;
}

/* Breadcrumbs */
.breadcrumbs {
    width: 100%;
    padding: 3px;
    background: #DDD;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #222;
}